<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

<h2 id="form">Paso 3: Creación del formulario</h2>
<p class="mb-32">
  Utiliza estos datos de respuesta para redireccionar al usuario al formulario de pago al Tarjetahabiente.
  Este formulario será la interfaz a través de la cual el usuario realizará su transacción.
</p>

<pre>
  <code class="language-html">
<%= h(<<~HTML)
<form action="https://webpay3gint.transbank.cl/webpayserver/initTransaction" method="POST">
  <input type="hidden" name="token_ws" value='#{@respond_data["token"]}' />
  <input type="submit" value="Pagar" />
</form>
HTML
%>
  </code>
</pre>
