<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Plus', path: '/webpay-plus/create' },
  { label: 'Consultar estado de transacción', path: '/webpay-plus/status' }
] %>

<h1>Webpay Plus - Consultar estado de transacción</h1>
<p class="mb-32">
    Puedes solicitar el estado de una transacción hasta 7 días después de su realización. No hay
    límite de solicitudes de este tipo durante ese período. Sin embargo, una vez pasados los 7 días, ya no podrás revisar
    su estado.
</p>

<h2 id="request">Paso 1 - Petición:</h2>
<p class="mb-32">
    Para realizar la consulta, necesitas el token de la transacción de la cual deseas obtener el estado. Utiliza
    este token para realizar una llamada al SDK.
</p>

<pre>
  <code class="language-ruby">
  @resp = @transaction.status(@token)
  </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
  Una vez que hayas creado la transacción, aquí encontrarás los datos de respuesta generados por el proceso.
</p>

<pre class="mb-32">
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>


