<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: @product_name, path: @create_url },
  { label: 'Estado de compra cancelada', path: '#' }
] %>

<h1><%=@product_name%> - Estado de compra cancelada</h1>
<p class="mb-32">
    El pago de la compra ha sido anulado por el usuario. En esta etapa, después de abandonar el formulario de pago, 
    no es necesario realizar la confirmación. 
    Aquí te proporcionamos información esencial sobre el estado de la transacción anulada:
</p>

<h2>Datos recibidos:</h2>
<p class="m-32">
    Después de completar el flujo en el formulario de pago, recibirás un GET con la siguiente
    información:
</p>

<pre class="mb-32">
  <code class="language-json"><%= JSON.pretty_generate(@request_data.to_unsafe_h) %></code>
</pre>

<h2>Otras Utilidades</h2>
<p class="mb-32">
    Tras la anulación de la compra, solo podrás consultar el estado de la transacción 
    en los próximos 7 días después de su realización. 
    Asegúrate de realizar las consultas dentro de este período.
</p>

<h1 id="state">Consulta de Estado de Transacción</h1>
<p class="mb-32">
    Puedes solicitar el estado de una transacción hasta 7 días después de su realización. 
    No hay límite de solicitudes de este tipo durante ese período. 
    Sin embargo, después de pasar los 7 días, ya no podrás revisar el estado de la transacción.
</p>

<h2>Paso 1: Petición</h2>
<p class="mb-32">
    Para realizar la consulta, necesitas el token de la transacción de la cual deseas obtener el estado. Utiliza
    este token para realizar una llamada al SDK.
</p>

<pre>
  <code class="language-ruby">
  @resp = @transaction.status(@token)
  </code>
</pre>

<h2>Paso 2: Respuesta</h2>
<p class="mb-32">
    Una vez que hayas creado la transacción, aquí encontrarás los datos de respuesta generados por el proceso.
</p>

<pre class="mb-32">
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>
