<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: @product_name, path: @create_url },
  { label: 'Error en formulario de pago', path: '#' }
] %>

<h1 id="error"><%=@product_name%> - Error en formulario de pago</h1>

<p class="mb-32">
    Se ha producido un error en el formulario de pago. Si ha hecho clic
    en el botón &quot;Intentar nuevamente&quot; desde la pantalla de error
    después de cerrar inesperadamente la pestaña del navegador y trata
    de recuperarla, es posible que haya recibido los siguientes tokens:
    token_ws, TBK_TOKEN, TBK_ID_SESION, TBK_ORDEN_COMPRA.
</p>

<h2>Datos recibidos:</h2>
<p class="m-32">
    Al producirse un error en el formulario de pago, recibirás un POST con la siguiente información:
</p>

<pre class="mb-32">
  <code class="language-json"><%= JSON.pretty_generate(@request_data.to_unsafe_h) %></code>
</pre>
