<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Mall', path: '/webpay-mall/create' },
  { label: 'Reembolsar', path: '/webpay-mall/refund' }
] %>

<h1>Webpay Mall - Reembolsar</h1>
<p class="mb-32">
  En esta etapa, tienes la opción de solicitar el reembolso del monto al titular de la tarjeta. 
  Dependiendo del monto y el tiempo transcurrido desde la transacción, este proceso podría resultar en una Reversa o Anulación, 
  dependiendo de ciertas condiciones (Reversa en las primeras 3 horas de la autorización, anulación posterior a eso), 
  o una Anulación parcial si el monto es menor al total. Las anulaciones parciales para tarjetas débito y prepago no están soportadas.
</p>

<h2 id="request">Paso 1 - Petición:</h2>
<p class="mb-32">
  Para llevar a cabo el reembolso, necesitas proporcionar el token de la transacción y el monto que deseas reversar. 
  Si anulas el monto total, podría ser una Reversa o Anulación, dependiendo de ciertas condiciones 
  (Reversa en las primeras 3 horas de la autorización, anulación posterior a eso), o una Anulación Parcial si el monto es menor al total.
</p>

<p class="mb-16">
    Algunas consideraciones a tener en cuenta:
</p>
<ul class="bullet-list mb-32">
  <li>No es posible realizar Anulaciones Parciales en pagos con cuotas.</li>
</ul>

<p class="mb-32">
  En
  <%= link_to 'este link', 'https://www.transbankdevelopers.cl/producto/webpay#anulaciones-y-reversas', class: 'tbk-link', target: '_blank' %>
  podrás ver mayor información sobre las condiciones y casos para anular o reversar transacciones.
</p>

<pre>
  <code class="language-ruby">
  @resp = @tx.refund(token, buy_order, commerce_code, amount)
  </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
  Transbank responderá con el resultado del proceso de reembolso, indicando si se ha realizado una
  Reversa, Anulación o Anulación Parcial.
</p>

<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

<%= link_to "CONSULTAR ESTADO", webpay_mall_status_url(token: @token), class: "tbk-button primary mb-32" %>

