<div class="contact-container">
    <div class="questions-container">
        <span class="header">¿Tienes alguna duda de integración?</span>
        <div class="list">
            <div class="question-item">
                <span class="title">Escríbenos por slack</span>
                <div class="inner-container">
                    <a href="https://transbank.continuumhq.dev/slack_community" target="_blank" rel="noopener">
                        <%= image_tag "slack.png", alt: "slack", width: "124", height: "32" %>
                    </a>
                    <span class="container">Únete a nuestra comunidad de integradores. Nuestro equipo está ahí para
                        ayudarte</span>
                </div>
            </div>

            <div class="question-item">
                <span class="title">Envíanos un mensaje</span>
                <div class="inner-container">
                    <a href="mailto:soporte@transbank.cl" target="_blank" rel="noopener">
                        <%= image_tag "outlook.png", alt: "outlook", width: "32", height: "32" %>
                    </a>
                    <span class="container">Necesitas resolver algún tipo de incidencia, contáctanos a través de correo
                        electrónico</span>
                </div>
            </div>
        </div>
    </div>
</div>
