<footer class="bg-tbk-black-bg tbk-footer">
    <div class="footer-item">
      <%= image_tag "tbk-white.svg", alt: "tbk logo white" %>
    </div>
    <span class="footer-item boder-t-gray3">
        Hecho con amor por Continuum y Transbank.
    </span>
</footer>
