<div class="tbk-table">
  <div class="table-column tbk-head">Campo</div>
  <div class="table-column tbk-head">Valor</div>
  <% data.each do |campo, valor| %> 
    <div class="table-column"><%= campo %></div>
    <div class="table-column"><%= valor %></div>
  <% end %>
</div>
