<%
  @navigation = { 'form' => 'Formulario' }
%>
<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Transacción Completa Mall Diferido', path: transaccion_completa_mall_diferida_index_path }
] %>


<h1 id="form">Transacción Completa Mall Diferido - Formulario</h1>
<p>En esta primera etapa necesitas obtener los datos esenciales de la tarjeta de crédito, débito o prepago del
    titular. Utiliza el formulario para recolectar esta información de manera segura.</p>
    <%= render partial: 'partials/credit_card', locals: { action: transaccion_completa_mall_diferida_create_path } %>
