<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Oneclick Mall', path: '/oneclick-mall/start' },
  { label: 'Reembolsar', path: '/oneclick-mall/refund' }
] %>

<h1>Webpay Oneclick Mall - Reembolsar</h1>
<p class="mb-32">
    En esta etapa, tienes la opción de solicitar el reembolso del monto al titular de la tarjeta.
    Dependiendo del monto y el tiempo transcurrido desde la transacción, este proceso podría resultar en una Reversa
    o Anulación, dependiendo de ciertas condiciones (Reversa en las primeras 3 horas de la autorización, anulación
    posterior a eso), o una Anulación parcial si el monto es menor al total.
    Las anulaciones parciales para tarjetas débito y prepago no están soportadas.
</p>

<h2 id="request">Paso 1 - Petición:</h2>
<p class="mb-16">
    Para realizar el reembolso, necesitarás la siguiente información:
</p>

<ul class="bullet-list mb-32">
    <li>Orden de compra de la transacción.</li>
    <li>Monto que deseas reversar.</li>
    <li>Código de comercio de la tienda hijo.</li>
    <li>Orden de compra del detalle de la transacción.</li>
</ul>

<p class="mb-32">
    Ten en cuenta que si anulas el monto total, puede ser una Reversa o Anulación, 
    dependiendo de ciertas condiciones (Reversa en las primeras 3 horas de la autorización, anulación posterior a eso), 
    o una Anulación parcial si el monto es menor al total. Las anulaciones parciales para tarjetas débito y prepago no están soportadas.
</p>

<p class="mb-32">
    En <a href="https://www.transbankdevelopers.cl/producto/webpay#anulaciones-y-reversas" class="tbk-link">este
        link
    </a> podrás ver mayor información sobre las condiciones y casos para anular o reversar transacciones.
</p>

<pre>
  <code class="language-ruby">
  @resp = @tx.refund(@buy_order, @child_commerce_code, @child_buy_order, @amount)
  </code>
</pre>

<h2 id="response">Paso 2 - Respuesta:</h2>
<p class="mb-32">
    Transbank responderá con el resultado de la reversa o anulación. Analiza esta respuesta para confirmar que el
    reembolso se ha procesado correctamente.
</p>

<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

<%= link_to "CONSULTAR ESTADO",
              oneclick_mall_status_url(buy_order: @buy_order),
              class: "tbk-button primary mb-32" %>
