/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* config */

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*------------- Dark mode------------ */

:root[data-theme="dark"] {
  --primary-text: #f6f7f9;
  --text-black: #ebecf0;
  --tbk-black-bg: rgb(35 39 47/0.95);
  --background: #1b1e25;
  --elevation: rgb(35 39 47/1);
  --elevation-w: rgb(35 39 47/0.95);
  --images-dark: contrast(100) brightness(100%) saturate(0%) invert(100%);
  --bg-hover: #343a46;
  --tbk-red: #f6f7f9;
  --tbk-table-header: rgb(35 39 47/0.95);
  --shadow-elevation: inset 0 0 0 1px hsla(0, 0%, 100%, 0.08);
  --white-elevation: 0 0 0 1px hsla(0, 0%, 100%, 0.15),
    0px 0.8px 2px rgba(0, 0, 0, 0.032), 0px 2.7px 6.7px rgba(0, 0, 0, 0.048),
    0px 12px 30px rgba(0, 0, 0, 0.08);
  --tbk-white-red: #ffb9b93b;
}

:root {
  --snippets-b: #9aa5ce;
  --images-dark: none;
  --primary-text: #0e1520;
  --elevation: #fcfdfe;
  --elevation-w: #fff;
  --tbk-full-red: #d5006c;
  --tbk-red: #d5006c;
  --tbk-red-dark: #cc0066;
  --tbk-light-red: #d5006c0d;
  --tbk-border: #e7ebf3;
  --background: #ffffff;
  --white: #ffffff;
  --tbk-grey: #828ea5;
  --tbk-grey-2: #707382;
  --tbk-text-grey: #99a1b3;
  --tbk-text-grey2: #ebecf0;
  --tbk-grey-3: #8c939f;
  --tbk-grey-4: #343a46;
  --tbk-black: #0e1520;
  --tbk-black-2: #2d3338;
  --text-black: #333333;
  --tbk-black-bg: #1f242e;
  --tbk-border-blue: #c9d0e4;
  --tbk-sweet-red: #ffe6e6;
  --tbk-table-header: hsl(329.58deg 100% 41.76% / 5%);
  --bg-hover: #343a46;
  --tbk-white-red: #f9f6f6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

code {
  border: 1px solid var(--snippets-b);
}

div.code {
  white-space: pre;
}

h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 1.25em;
  line-height: 32px;
  letter-spacing: 0.25px;
  font-weight: 700;
  .dark & {
    color: var(--primary-text);
  }
}

h2 {
  margin-top: 0px;
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.25px;
  .dark & {
    color: var(--primary-text);
  }
}

p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  .dark & {
    color: var(--primary-text);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin-bottom: 5px;
  .dark & {
    color: var(--primary-text);
  }
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.25px;
}

button {
  background-color: transparent;
  border: none;
}

h1.title {
  color: var(--primary-text);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.125em;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.25px;
}

pre {
  margin: 0;
}
pre,
code {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

/* utils */

.aling-self-end {
  align-self: flex-end;
}

.boder-t-gray3 {
  border-top: 1px solid var(--tbk-grey-3);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.fw-700 {
  font-weight: 700;
}

.general-text {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.dark .general-text {
  color: var(--primary-text);
}

.text-tbk-red {
  --tw-text-opacity: 1;
  color: rgb(213 0 108 / var(--tw-text-opacity));
  .dark & {
    color: var(--primary-text);
  }
}

.text-tbk-black {
  --tw-text-opacity: 1;
  color: rgb(45 51 56 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.self-center {
  align-self: center;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.tbk-link {
  color: var(--tbk-red);
  text-decoration: none;
}

/* layout */

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.body-container {
  display: grid;
  grid-template-columns: 330px 1fr 264px;
  padding: 24px 96px 40px 0px;
  transition: all 0.5s;
}

.body-container.no-nav {
  grid-template-columns: 330px 1fr;
}

.body-container.hide-sd {
  grid-template-columns: 20px 1fr 264px;
}
.body-container.hide-sd.no-nav {
  grid-template-columns: 20px 1fr;
}

.body-content {
  padding: 0px 3rem 0rem 5rem;
  margin-top: 2.5rem;
}

.helper-content {
  margin-left: 16px;
}
/* snippet */

.snippet-container {
  position: relative;
  max-width: 650px;
  min-width: 300px;
  width: auto;
}

.snippet-container .clipboard {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* copllapse */

.cp-container {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.cp-content {
  padding: 10px;
  transition: opacity 0.3s ease;
}
.cp-btn {
  font-size: 1em;
  display: block;
  width: 100%;
  text-align: left;
}

.cp-open {
  opacity: 1;
}

/* table */

.tbk-table {
  display: grid;
  grid-template-columns: 262px 295px;
}
.tbk-table.auto-width {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1fr);
}

.tbk-table .table-column {
  padding: 16px;
  border-bottom: 1px solid var(--tbk-border-blue);
  border-right: 1px solid var(--tbk-border-blue);
  overflow-wrap: break-word;
}

.tbk-table .table-column.tbk-head {
  display: flex;
  justify-content: center;
  background-color: var(--tbk-table-header);
  font-weight: 700;
  line-height: 24px;
  color: var(--tbk-red);
}

.tbk-table-xs {
  display: none;
}

.tbk-table-xs .table-row-xs {
  padding: 8px;
  gap: 8px;
  border: 1px solid var(--primary-text);
  display: flex;
  flex-direction: column;
}

.tbk-table-xs .table-row-xs span {
  font-weight: bold;
}

.dark .tbk-table .table-column {
  color: var(--primary-text);
}

/* breadcrumbs */

.breadcrumbs-container,
.breadcrumbs-items {
  display: flex;
  column-gap: 0.75rem;
}

.breadcrumbs-container {
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--tbk-black-2);
  margin-bottom: 1.5rem;
}

.current-breadcrumb {
  color: var(--tbk-red);
}

/* cards */
.tbk-card,
.tbk-refund-card {
  display: flex;
  padding: 32px;
  margin-top: 16px;
  margin-bottom: 32px;
  color: var(--tbk-black);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  max-width: 607px;
  .dark & {
    background-color: var(--tbk-black-bg);
    box-shadow: var(--white-elevation);
  }
}

.tbk-card {
  flex-direction: column;
}

.tbk-refund-card {
  justify-content: space-between;
}

.tbk-refund-button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tbk-card-footer {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}

.tbk-card-title {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 38px;
  .dark & {
    color: var(--primary-text);
  }
}

/* inputs */

.tbk-label {
  padding-left: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--tbk-grey);
  .dark & {
    color: var(--primary-text);
  }
}

.tbk-input-text {
  padding-bottom: 4px;
  padding-left: 4px;
  outline-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: transparent;
  border: 0px solid #e5e7eb;
  border-color: var(--tbk-border-blue);
  border-bottom-width: 1px;
  .dark & {
    color: var(--primary-text);
  }
}

.tbk-input-text:focus {
  border-color: var(--tbk-red);
  border-bottom-width: 2px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container:focus-within .tbk-label {
  color: var(--tbk-red);
}

/* header */
.tbk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  background-color: var(--elevation);
  position: sticky;
  top: 0;
  z-index: 1;
}

.tbk-header-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tbk-logo {
  filter: var(--images-dark);
}

.tbk-header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tbk-buger-menu {
  cursor: pointer;
  display: none;
}

.tbk-mobile-sd-container {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 10;
}
.tbk-mobile-sd-container.show {
  display: block;
}

/* footer */
.tbk-footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 160px;
  background-color: var(--tbk-black-bg);
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tbk-grey-3);
}

/* channels */
.questions-container {
  display: flex;
  flex-direction: column;
}

.questions-container .header {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
  color: var(--tbk-red);
}

.questions-container .list {
  display: grid;
  padding: 24px;
  margin-top: 24px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  border-radius: 0.25rem;
  color: var(--text-black);
  border-color: var(--tbk-light-red);
  background: var(--tbk-light-red);
  .dark & {
    background-color: var(--tbk-black-bg);
    color: var(--text-black);
  }
}

.question-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-item .title {
  text-align: center;
  color: var(--tbk-black);
  .dark & {
    color: var(--primary-text);
  }
}

.question-item .inner-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #ffffff;
  .dark & {
    background-color: var(--tbk-grey-4);
  }
}

.question-item .inner-container img {
  cursor: pointer;
  .dark & {
    filter: var(--images-dark);
  }
}

.question-item .inner-container .content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
}

/* navigation */
.nav-container {
  position: sticky;
  width: 248px;
  padding: 24px;
  gap: 22px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(14, 21, 32, 0.18),
    0px 0px 2px 0px rgba(14, 21, 32, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.04);
  color: var(--tbk-black);
  top: 104px;
  .dark & {
    background-color: var(--tbk-black-bg);
    box-shadow: var(--shadow-elevation);
  }
}

.nav-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--tbk-black);
  padding: 8px 0px;
  border-bottom: 1px solid var(--tbk-red);
  .dark & {
    color: var(--primary-text);
  }
}

.nav-container .item {
  color: var(--tbk-grey-2);
  font-size: 14px;
}

.nav-container li:last-of-type {
  margin-bottom: 8px;
}

.nav-container .item.active {
  color: var(--tbk-red);
  font-weight: 500;
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  list-style: none;
  padding: 0px;
}

/* buttons */
.tbk-button {
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--tbk-red);
  color: white;
  cursor: pointer;
  border: none;

  .dark & {
    background-color: transparent;
    color: var(--primary-text);
    border: 1px solid var(--white);
  }
}

.tbk-button.small-button {
  padding-right: 16px;
  padding-left: 16px;
}

.tbk-button.primary {
  border-radius: 0.25rem;
  height: 40px;
  .dark & {
    background-color: transparent;
    color: var(--primary-text);
    border: 1px solid var(--white);
  }
}

.tbk-button.primary:hover {
  background-color: var(--tbk-red-dark);
  .dark & {
    background-color: transparent;
  }
}

.tbk-button.secondary {
  border: 1px solid var(--tbk-red);
  color: var(--tbk-red);
  background-color: white;
  line-height: 1.5rem;
  height: 46px;
  border-radius: 10px;
  .dark & {
    background-color: transparent;
    color: var(--primary-text);
    border: 1px solid var(--white);
  }
}

.dark-mode-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.dark .moon-img {
  display: none;
}

.sun-img {
  display: none;
  .dark & {
    display: block;
  }
}

/* sidebar */

.tbk-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  height: fit-content;
  position: sticky;
  top: 105px;
}

.sidebar-divider {
  border: 1px solid var(--tbk-border);
  margin: 16px 0px 8px 20px;
}

.tbk-sidebar .collapsible-items,
.tbk-sidebar-mobile .collapsible-items {
  line-height: 30px;
  padding: 8px 8px 8px 24px;
}

.sidebar-collapsible-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 12px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.tbk-sidebar-item-title {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--tbk-grey);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding-left: 24px;
}

.dark .tbk-sidebar-item-title {
  color: var(--tbk-text-grey);
}

.tbk-sidebar-item {
  display: flex;
  cursor: pointer;
  color: var(--tbk-grey-4);
  font-size: 15px;
}

.dark .tbk-sidebar-item {
  color: var(--tbk-text-grey2);
}

.tbk-sidebar-hide .sidebar-content,
.tbk-sidebar-hide .tbk-sidebar-item-text {
  opacity: 0;
  transform: translateX(-20px);
}

.collapsible-items:hover {
  background-color: var(--tbk-white-red);
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
}

.collapsible-items.active {
  background-color: var(--tbk-sweet-red);
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
  font-weight: 500;
}

.collapsible-items.active .tbk-sidebar-item {
  color: var(--tbk-full-red);
}

.toogle-close-btn-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tbk-vlose-toggle-btn {
  top: 15px;
  border: none;
  cursor: pointer;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.tbk-sidebar-mobile {
  display: none;
  flex-direction: column;
  row-gap: 2.5rem;
  border-right-width: 1px;
  border-top-width: 1px;
  border-color: var(--tbk-border);
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 10;
  background-color: var(--background);
  height: calc(100vh - 80px);
  padding: 20px 0px;
  overflow-y: scroll;
}

.toogle-btn-container {
  position: absolute;
  top: 0px;
  right: -15px;
  height: 100%;
}

.toggle-close-btn {
  cursor: pointer;
}

.btn-close-container {
  position: absolute;
  right: 15px;
  top: 15px;
}

.tbk-toggle-btn {
  position: sticky;
  top: 95px;
  width: 30px;
  height: 30px;
  background-color: var(--tbk-red);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dark .tbk-toggle-btn {
  color: var(--background);
}

.tbk-sidebar-hide .tbk-toggle-btn {
  transform: rotate(180deg);
}

.collapsible-content {
  display: none;
}

.collapsible-content.open {
  display: block;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 10px;
}
.sidebar-icons-rotate {
  transform: rotate(90deg);
}

/* pages content styles  */
.step-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.25px;
}
/* Error page */

.layout-error {
  margin: 80px 156px;
}
/* homepage */

.layout-home {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.tbk-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 156px;
}

.tbk-home-intro {
  display: flex;
  column-gap: 24px;
  align-self: flex-start;
}

.tbk-home-text {
  color: var(--text-black);
  font-size: 1.25em;
  line-height: 30px;
  letter-spacing: 0.25px;
  font-weight: 400;
}

.separed-home {
  height: 1px;
  width: 100%;
  background-color: var(--tbk-border-blue);
  margin: 70px 0;
  border: none;
}

.contact-container {
  max-width: 576px;
}

.cards-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.card-info {
  display: grid;
  grid-template-rows: 1fr auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 385px;
  max-width: 552px;
  .dark & {
    box-shadow: var(--white-elevation);
  }
}

.card-info-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 32px 0 32px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--elevation-w);
}

.card-info-image {
  filter: var(--images-dark);
  margin-bottom: 34px;
}

.card-info-text {
  color: var(--text-black);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.25px;
  font-weight: 400;
}

.card-info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.25px;
  color: white;
  height: 58px;
  background-color: var(--tbk-red);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  .dark & {
    background-color: var(--tbk-grey-4);
  }
}
.card-multi-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.divided-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.card-right-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}

.tbk-info-token {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  justify-content: flex-start;
}

.tbk-info-token-icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  color: transparent;
}

.tbk-info-token-text {
  font-size: 14px;
  line-height: 1.4;
}

/* spinner  */
.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1439.98px) {
  .body-container,
  .body-container.no-nav {
    grid-template-columns: 280px 1fr;
  }
  .helper-content {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .card-multi-field {
    grid-template-columns: 1fr;
  }
  .cards-info-container {
    grid-template-columns: 1fr;
  }
}

@media (width <= 991.98px) {
  .questions-container .list {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .tbk-home-container {
    margin: 80px 50px;
  }

  .tbk-home-intro {
    flex-direction: column;
    gap: 1rem;
  }
  .tbk-sidebar {
    display: none;
  }
  .tbk-buger-menu {
    display: block;
  }
  .tbk-sidebar-mobile.show {
    display: flex;
  }
  .body-container,
  .body-container.no-nav {
    padding: 2.5rem 1rem;
    grid-template-columns: 1fr;
  }
  .tbk-header {
    padding: 0 2rem;
  }
  .body-content {
    padding: 0 1rem;
  }
}

@media (max-width: 576px) {
  .tbk-table {
    display: none;
  }
  .tbk-table-xs {
    display: block;
  }
  .tbk-header-options .tbk-button.secondary {
    display: none;
  }
}
